.scroller {
  max-height: 80vh;
  /* width: 220px; */
  overflow-y: auto;
  display: grid;
  justify-content: center;
  /* gap: 10px;   */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0% 2%;
  grid-template-areas: ". . ." ". . ." ". . .";
}

.item {
  border-radius: 3px;
  border: 1px solid #333;
  max-width: 200px;
  padding: 10px;
  box-sizing: border-box;
}

.item > h3 {
  margin: 0 0 8px 0;
}
