.container {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  height: 60px;
}

.navbar {
  display: flex;
  align-items: center;
  width: 75vw;
  font-size: 20px;
  font-weight: bold;
}

.logo {
  padding: 0 15px 0 0;
  width: 50px;
}

